* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  padding: 2rem 1rem;
}

header {
  text-align: center;

  width: 70%;
  margin: 0 auto;
}
.profile {
  margin-top: 2rem;
}

.profile > img {
  border-radius: 1rem;

  width: 6.25rem;
  margin-bottom: 0.75rem;
}

.name {
  color: #4e5150;
  font-size: 0.875rem;
}

.location {
  color: #a9a9a9;
  font-size: 0.625rem;
  margin-top: 0.25rem;
}

.profile-info {
  display: flex;
  justify-content: center;
  gap: 0 1rem;

  margin-top: 0.75rem;
}

.profile-info > div {
  background-color: #e5e5e5;
  border-radius: 0.75rem;

  display: flex;
  flex-direction: column;

  width: 4rem;
  padding: 0.625rem;
}

.value {
  color: #4e5150;
  font-size: 0.75rem;
}

.metric {
  color: #bdbdbd;
  font-size: 0.75rem;
}

main > img {
  border-radius: 0.75rem;
  width: 100%;
  object-fit: cover;
}

main {
  margin-top: 2.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "a b b"
    "c c d"
    "f e d";
  gap: 0.75rem;
}

#a {
  grid-area: a;
}

#b {
  grid-area: b;
}
#c {
  grid-area: c;
}
#d {
  grid-area: d;
}
#e {
  grid-area: e;
}
#f {
  grid-area: f;
}

footer {
  color: #bdbdbd;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;

  margin-top: 4rem;
}

footer > b > a {
  color: #bdbdbd;
  font-weight: 700;
  text-decoration: none;
}

@media (min-width: 600px) {
  body {
    padding: 4rem 1rem;
  }

  header {
    max-width: 62.5rem;
  }

  .profile {
    margin-top: 2rem;
  }

  .profile > img {
    width: 10rem;
  }

  .name {
    font-size: 1.5em;
    margin-top: 1rem;
  }

  .location {
    font-size: 0.875rem;
    margin-top: 0.5rem;
  }

  .profile-info {
    gap: 0 1.5rem;

    margin-top: 1.5rem;
  }

  .profile-info > div {
    width: 6.25rem;
    padding: 0.875rem;
  }

  .value {
    font-size: 1.125rem;
  }

  .metric {
    font-size: 1.125rem;
  }

  main {
    gap: 2rem;

    width: 80%;
    max-width: 62.5rem;

    margin: 2.5rem auto;
  }

  footer {
    padding-bottom: 2rem;
  }
}
